{% extends '@EasyAdmin/page/content.html.twig' %}{#
{% block title %}Bienvenue sur votre espace administrateur{% endblock %}

{% block body %}
    <div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">
                Bonjour, bienvenue sur votre espace administrateur.
            </h3>
        </div>
    </div>



{% endblock %}#}